.root {
  @apply inline-flex text-center items-center leading-7 space-x-1;
}

.root span {
  @apply bg-zinc-500 dark:bg-zinc-200 rounded-full h-2 w-2;
  animation: blink 1.4s infinite both;
  margin: 0 2px;
}

.root span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.root span:nth-of-type(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
}
